{% extends 'base.html' %}
{% block title %}Attendance · Mega Coffee HR{% endblock %}
{% block nav_attendance_active %}active{% endblock %}

{% block content %}
<div class="page-header">
  <h1>일 별 근무 기록</h1>
  <div class="actions">
    <input type="date" value="{{ filter_date }}" onchange="window.location.href='?date='+this.value" style="padding: 8px; border: 1px solid #ddd; border-radius: 6px;">
    <a href="{% url 'attendances:checkin_and_out' %}" class="btn primary" target="_blank">출퇴근 POS</a>
  </div>
</div>

<div class="card">
  <h2>{{ filter_date }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%; ">직원 이름</th>
        <th style="width: 17%;">출근 시각</th>
        <th style="width: 17%;">퇴근 시각</th>
        <th style="width: 16%;">근무 현황</th>
        <th style="width: 15%;">대타 여부</th>
        <th style="width: 15%;">관리</th>
      </tr>
    </thead>

    <tbody>
      {% for item in records %}
      <tr>
        <td>
          <div>
            <span>{{ item.employee.full_name }}</span>
            <span class="dot" style="background-color: {{ item.employee.color_tag }};"></span>
          </div>
        </td>

        <td>
          {% if item.check_in %}
            <span class="check_in">{{ item.check_in|time:"H:i" }}</span>
          {% else %}
            <span>-</span>
          {% endif %}
        </td>

        <td>
          {% if item.check_out %}
            <span class="check_out">{{ item.check_out|time:"H:i" }}</span>
          {% else %}
            <span>-</span>
          {% endif %}
        </td>

        <td>
          {% if item.status == 'working' %}
            <span class="working">근무 중</span>
          {% elif item.status == 'finished' %}
            <span class="finished">퇴근</span>
          {% elif item.status == 'absent' %}
            <span class="absent">결근</span>
          {% else %}
            <span class="planned">근무 예정</span>
          {% endif %}
        </td>

        <td>
          {% if item.is_substitute %}
            <span>대타</span>
          {% else %}
            <span>-</span>
          {% endif %}
        </td>

        <td>
          <div style="display: flex; gap: 8px;">
            <a href="{% url 'attendances:daywork'%}" class="btn" style="padding: 4px 12px; font-size: 14px;">기록 수정</a>
              {% csrf_token %}
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" style="text-align: center; padding: 2rem; color: #888;">
          해당 날짜에 근무 예정자나 기록이 없습니다.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>



{% endblock %}